<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidshowcase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".ui.libraries.progressBars.WaveProgressActivity"></activity>
        <activity android:name=".ui.libraries.imageView.ShapeImageviewActivity" />
        <activity android:name=".ui.libraries.progressBars.RoundCornerProgressActivity" />
        <activity android:name=".ui.libraries.seekBars.SeekBarCompatActivity" />
        <activity android:name=".ui.libraries.navigations.NavigationTabBarActivity" />
        <activity android:name=".ui.libraries.material.textfield.MaterialTextFieldActivity" />
        <activity android:name=".ui.libraries.progressBars.NumberProgressBarActivity" />
        <activity android:name=".ui.libraries.material.button.MaterialButtonsActivity" />
        <activity android:name=".ui.libraries.progressBars.CircularProgressBarActivity" />
        <activity android:name=".ui.libraries.seekBars.DiscreteSeekBarActivity" />
        <activity android:name=".ui.libraries.progressBars.SmoothProgressBarActivity" />
        <activity android:name=".ui.libraries.imageView.CircleImageViewActivity" />
        <activity android:name=".ui.notadded.ComponentNotAddedActivity" />
        <activity android:name=".ui.insidelibrary.LibraryComponentsActivity" />
        <activity android:name=".ui.librarieslist.LibrariesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>